body{
    color: brown;
    background:linear-gradient(90deg,rgb(167, 89, 89),white,rgb(54, 102, 57));
    
}
#main{
    border: 5px solid black;
    color: aqua;
    height: 370px;
    width: 350px;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    
}
#h1{
    margin-left: 20px;
}
#h3{
    margin-left: 70px;
}
#h31{
    margin-left: 70px;

}
#h2{
    margin-left: -5px;
}
#h21{

        margin-left: -5px;
    
}
#n1{
    
    margin-left: 80px;
}
#n2{
    margin-left: 80px;
}
#bu{
    margin-left: 120px ;
    margin-top: 30px;
    border-radius: 10px;
    background: linear-gradient(90deg,green,white,green);
}